In [91]:
import pandas as pd

### Competitor Prices

In [104]:
# Dropping nulls
cprices = pd.read_excel('data/base/competitor_prices.xlsx')
cpricesNN = cprices.dropna()
cpricesNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29573 entries, 0 to 37061
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            29573 non-null  int64
 1   Competitor_ID      29573 non-null  int64
 2   Grade_Description  29573 non-null  object
 3   Date               29573 non-null  datetime64[ns]
 4   Competitor_Price   29573 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.4+ MB

In [126]:
cpricesNN.head()

   Site_ID  Competitor_ID Grade_Description       Date  Competitor_Price
0    10808         311365            Diesel 2019-08-27             2.429
1    10808         311365            Diesel 2019-08-28             2.429
2    10808         311365            Diesel 2019-08-29             2.429
3    10808         311365            Diesel 2019-08-30             2.429
4    10808         311365            Diesel 2019-08-31             2.429

In [127]:
cpricesGROUP = cpricesNN.groupby(['Date', 'Site_ID', 'Grade_Description']).agg({'Competitor_Price': 'mean'})
cpricesGROUP.head()

                                      Competitor_Price
Date       Site_ID Grade_Description
2019-01-01 10808   Diesel                     2.674000
                   Premium Gas                1.799000
                   Unleaded Gas               1.825667
           10818   Diesel                     2.752333
                   Midgrade Gas               2.449000

In [139]:
cpricesGROUP.to_csv('data/adjusted/competitor_prices_ADJ.csv')

In [93]:
# cprices19 = cpricesNN[(cpricesNN['Date'].dt.year == 2019)]
# cprices19.head()

In [94]:
# cprices20 = cpricesNN[(cpricesNN['Date'].dt.year == 2020)]
# cprices20.head()

In [95]:
# cpricesNO = pd.concat([cprices19, cprices20])
# cpricesNO.head()

In [97]:
# cpricesGROUP.to_csv('data/competitor_prices_ADJ.csv')

### Site profit

In [98]:
# Dropping nulls
sprofit = pd.read_excel('data/base/site_profit.xlsx')
sprofitNN = sprofit.dropna()
sprofitNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5914 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5914 non-null   int64
 1   Grade_Description  5914 non-null   object
 2   Date               5914 non-null   datetime64[ns]
 3   Profit             5914 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 231.0+ KB

In [134]:
sprofitNN.to_csv('data/adjusted/site_profit_ADJ.csv', index=False)

### Site volume

In [100]:
# Dropping nulls
svol = pd.read_excel('data/base/site_volume.xlsx')
svolNN = svol.dropna()
svolNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5930 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5930 non-null   int64
 1   Grade_Description  5930 non-null   object
 2   Date               5930 non-null   datetime64[ns]
 3   Volume             5930 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 231.6+ KB

In [136]:
svolNN.to_csv('data/adjusted/site_volume_ADJ.csv', index=False)

### Replacement cost

In [117]:
sreplace = pd.read_excel('data/base/site_replacement_cost.xlsx')
sreplace.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,2018-12-01,1.4413,1.287061,1.527463,1.628971
1,2018-12-02,1.4413,1.283675,1.522660,1.629263
2,2018-12-03,1.4314,1.290575,1.535742,1.618202
3,2018-12-04,1.4434,1.313937,1.573385,1.650614
4,2018-12-05,1.4456,1.285454,1.538296,1.632224

In [118]:
# No diesel in other charts, removing column
sreplace = sreplace.drop(columns=['Diesel Cost'], axis=1)
sreplace.tail()

          Date  Unleaded Gas Cost  Midgrade Gas Cost  Premium Gas Cost
848 2021-03-28             1.9673           2.055534          2.176028
849 2021-03-29             1.9952           2.122627          2.224577
850 2021-03-30             1.9890           2.067862          2.186994
851 2021-03-31             1.9533           2.026305          2.159443
852 2021-04-01             2.0223           2.140848          2.249888

In [124]:
# Rename columns
sreplace = sreplace.rename(columns={'Unleaded Gas Cost': 'Unleaded_Gas_Cost', 'Midgrade Gas Cost': 'Midgrade_Gas_Cost',
                         'Premium Gas Cost': 'Premium_Gas_Cost'})
sreplace.head()

        Date  Unleaded_Gas_Cost  Midgrade_Gas_Cost  Premium_Gas_Cost
0 2018-12-01             1.4413           1.527463          1.628971
1 2018-12-02             1.4413           1.522660          1.629263
2 2018-12-03             1.4314           1.535742          1.618202
3 2018-12-04             1.4434           1.573385          1.650614
4 2018-12-05             1.4456           1.538296          1.632224

In [138]:
# Saving to csv
sreplaceADJ.to_csv('data/adjusted/site_replacement_cost_ADJ.csv', index=False)

### Site prices

In [102]:
# Reading data
sprices = pd.read_excel('data/base/site_prices.xlsx')
sprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Price              6579 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB

In [137]:
# Saving to csv
sprices.to_csv('data/adjusted/site_prices_ADJ.csv', index=False)