In [2]:
import pandas as pd

In [3]:
cprices = pd.read_excel('data/competitor_prices.xlsx')
cprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37062 entries, 0 to 37061
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            37062 non-null  int64
 1   Competitor_ID      37062 non-null  int64
 2   Grade_Description  37062 non-null  object
 3   Date               37062 non-null  datetime64[ns]
 4   Competitor_Price   29573 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.4+ MB

In [5]:
cpricesNN = cprices.dropna()
cpricesNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29573 entries, 0 to 37061
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            29573 non-null  int64
 1   Competitor_ID      29573 non-null  int64
 2   Grade_Description  29573 non-null  object
 3   Date               29573 non-null  datetime64[ns]
 4   Competitor_Price   29573 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.4+ MB

In [8]:
sprofit = pd.read_excel('data/site_profit.xlsx')
sprofit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Profit             5914 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB

In [10]:
sprofitNN = sprofit.dropna()
sprofitNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5914 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5914 non-null   int64
 1   Grade_Description  5914 non-null   object
 2   Date               5914 non-null   datetime64[ns]
 3   Profit             5914 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 231.0+ KB

In [11]:
svol = pd.read_excel('data/site_volume.xlsx')
svol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Volume             5930 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB

In [12]:
svolNN = svol.dropna()
svolNN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5930 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5930 non-null   int64
 1   Grade_Description  5930 non-null   object
 2   Date               5930 non-null   datetime64[ns]
 3   Volume             5930 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 231.6+ KB

In [14]:
sreplace = pd.read_excel('data/site_replacement_cost.xlsx')
sreplace.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,2018-12-01,1.4413,1.287061,1.527463,1.628971
1,2018-12-02,1.4413,1.283675,1.522660,1.629263
2,2018-12-03,1.4314,1.290575,1.535742,1.618202
3,2018-12-04,1.4434,1.313937,1.573385,1.650614
4,2018-12-05,1.4456,1.285454,1.538296,1.632224

In [24]:
sreplace19 = sreplace[(sreplace['Date'].dt.year == 2019)]
sreplace19.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
31,2019-01-01,1.3237,1.176109,1.409889,1.534257
32,2019-01-02,1.3256,1.201517,1.434353,1.535803
33,2019-01-03,1.3495,1.225239,1.454955,1.553484
34,2019-01-04,1.3478,1.170962,1.453069,1.552687
35,2019-01-05,1.3478,1.212443,1.462783,1.551202

In [25]:
sreplace20 = sreplace[(sreplace['Date'].dt.year == 2020)]
sreplace20.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
396,2020-01-01,1.6978,1.557996,1.770276,1.901883
397,2020-01-02,1.7042,1.528669,1.814170,1.883521
398,2020-01-03,1.7488,1.611508,1.832641,1.956631
399,2020-01-04,1.7488,1.581901,1.870630,1.923608
400,2020-01-05,1.7488,1.628441,1.828292,1.931305

In [69]:
sreplaceADJ = pd.concat([sreplace19, sreplace20])
sreplaceADJ.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
31,2019-01-01,1.3237,1.176109,1.409889,1.534257
32,2019-01-02,1.3256,1.201517,1.434353,1.535803
33,2019-01-03,1.3495,1.225239,1.454955,1.553484
34,2019-01-04,1.3478,1.170962,1.453069,1.552687
35,2019-01-05,1.3478,1.212443,1.462783,1.551202

In [71]:
sreplaceADJ.to_csv('data/site_replacement_cost_ADJ.csv', index=False)

In [72]:
df = pd.read_csv('data/site_replacement_cost_ADJ.csv')
df.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,2019-01-01,1.3237,1.176109,1.409889,1.534257
1,2019-01-02,1.3256,1.201517,1.434353,1.535803
2,2019-01-03,1.3495,1.225239,1.454955,1.553484
3,2019-01-04,1.3478,1.170962,1.453069,1.552687
4,2019-01-05,1.3478,1.212443,1.462783,1.551202

In [73]:
df.tail()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
726,2020-12-27,1.3789,1.247484,1.492138,1.580824
727,2020-12-28,1.3677,1.207166,1.440350,1.575306
728,2020-12-29,1.3879,1.239351,1.482894,1.589342
729,2020-12-30,1.4120,1.261121,1.508347,1.606827
730,2020-12-31,1.4084,1.258232,1.511735,1.580533