In [1]:
import pandas as pd

In [18]:
cprices = pd.read_excel('data/competitor_prices.xlsx')
cprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37062 entries, 0 to 37061
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            37062 non-null  int64
 1   Competitor_ID      37062 non-null  int64
 2   Grade_Description  37062 non-null  object
 3   Date               37062 non-null  datetime64[ns]
 4   Competitor_Price   29573 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.4+ MB

In [19]:
sprices = pd.read_excel('data/site_prices.xlsx')
sprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Price              6579 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB

In [20]:
sprofit = pd.read_excel('data/site_profit.xlsx')
sprofit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Profit             5914 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB

In [21]:
sreplace = pd.read_excel('data/site_replacement_cost.xlsx')
sreplace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               853 non-null    datetime64[ns]
 1   Unleaded Gas Cost  853 non-null    float64
 2   Diesel Cost        853 non-null    float64
 3   Midgrade Gas Cost  853 non-null    float64
 4   Premium Gas Cost   853 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 33.4 KB

In [22]:
svol = pd.read_excel('data/site_volume.xlsx')
svol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   datetime64[ns]
 3   Volume             5930 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.7+ KB