In [13]:
import pandas as pd
import numpy as np

### Joining data together into site_kpis file.

In [80]:
# Read in site prices
spricesADJ = pd.read_csv('data/adjusted/site_prices_ADJ.csv')
spricesADJ.head()

   Site_ID Grade_Description        Date  Price
0    10808      Unleaded Gas  2019-01-01  1.769
1    10808      Unleaded Gas  2019-01-02  1.759
2    10808      Unleaded Gas  2019-01-03  1.749
3    10808      Unleaded Gas  2019-01-04  1.749
4    10808      Unleaded Gas  2019-01-05  1.749

In [48]:
# sreplaceADJ = pd.read_csv('data/site_replacement_cost_ADJ.csv')
# sreplaceADJ.head()

In [49]:
# df1 = pd.merge(spricesADJ, sreplaceADJ)
# df1.head()

In [50]:
# df1.to_csv('data/mergeGas.csv', index=False)

In [51]:
# df2 = pd.read_csv('data/mergeGasFNL.csv')
# df2.head()

In [52]:
# df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%Y-%m-%d')
# df2.head()

In [81]:
# Read in site profit
sprofitADJ = pd.read_csv('data/adjusted/site_profit_ADJ.csv')
sprofitADJ.head()

   Site_ID Grade_Description        Date  Profit
0    10808      Unleaded Gas  2019-01-01    9.73
1    10808      Unleaded Gas  2019-01-02   11.13
2    10808      Unleaded Gas  2019-01-03  -35.83
3    10808      Unleaded Gas  2019-01-04  -65.66
4    10808      Unleaded Gas  2019-01-05  -98.64

In [82]:
# Merge prices and profit
df1 = pd.merge(spricesADJ, sprofitADJ)
df1.head()

   Site_ID Grade_Description        Date  Price  Profit
0    10808      Unleaded Gas  2019-01-01  1.769    9.73
1    10808      Unleaded Gas  2019-01-02  1.759   11.13
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64

In [83]:
# read in site volume
svolADJ = pd.read_csv('data/adjusted/site_volume_ADJ.csv')
svolADJ.head()

   Site_ID Grade_Description        Date   Volume
0    10808      Unleaded Gas  2019-01-01  1092.01
1    10808      Unleaded Gas  2019-01-02  1955.47
2    10808      Unleaded Gas  2019-01-03  1123.79
3    10808      Unleaded Gas  2019-01-04  1847.51
4    10808      Unleaded Gas  2019-01-05  1442.89

In [84]:
# merge in volume
df2 = pd.merge(df1, svolADJ)
df2.head()

   Site_ID Grade_Description        Date  Price  Profit   Volume
0    10808      Unleaded Gas  2019-01-01  1.769    9.73  1092.01
1    10808      Unleaded Gas  2019-01-02  1.759   11.13  1955.47
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83  1123.79
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66  1847.51
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64  1442.89

In [68]:
# print(df2.Site_ID.unique())
# print(df2.Grade_Description.unique())

In [85]:
# # Create new column and insert replacement costs
# df2['Replacement_cost'] = np.select([df2.Grade_Description=='Unleaded Gas', df2.Grade_Description=='Midgrade Gas'],
#                                   ['2.0223', '2.140848'], default='2.249888')

In [88]:
#read in competitor prices
cpricesADJ = pd.read_csv('data/adjusted/competitor_prices_ADJ.csv')
cpricesADJ.head()

         Date  Site_ID Grade_Description  Competitor_Price
0  2019-01-01    10808            Diesel          2.674000
1  2019-01-01    10808       Premium Gas          1.799000
2  2019-01-01    10808      Unleaded Gas          1.825667
3  2019-01-01    10818            Diesel          2.752333
4  2019-01-01    10818      Midgrade Gas          2.449000

In [93]:
cpricesADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8575 non-null   object
 1   Site_ID            8575 non-null   int64
 2   Grade_Description  8575 non-null   object
 3   Competitor_Price   8575 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 268.1+ KB

In [90]:
# merge in competitor prices
df3 = pd.merge(df2, cpricesADJ)
df3.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price
0,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,1.825667
1,10808,Unleaded Gas,2019-01-02,1.759,11.13,1955.47,1.819000
2,10808,Unleaded Gas,2019-01-03,1.749,-35.83,1123.79,1.819000
3,10808,Unleaded Gas,2019-01-04,1.749,-65.66,1847.51,1.819000
4,10808,Unleaded Gas,2019-01-05,1.749,-98.64,1442.89,1.819000

In [94]:
# read in replacement costs
sreplaceADJ = pd.read_csv('data/adjusted/site_replacement_cost_ADJ.csv')
sreplaceADJ.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,2019-01-01,1.3237,1.176109,1.409889,1.534257
1,2019-01-02,1.3256,1.201517,1.434353,1.535803
2,2019-01-03,1.3495,1.225239,1.454955,1.553484
3,2019-01-04,1.3478,1.170962,1.453069,1.552687
4,2019-01-05,1.3478,1.212443,1.462783,1.551202

In [95]:
# merge in site replacement costs
df4 = pd.merge(df3, sreplaceADJ)
df4.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,1.825667,1.3237,1.176109,1.409889,1.534257
1,10808,Premium Gas,2019-01-01,2.319,7.60,49.30,1.799000,1.3237,1.176109,1.409889,1.534257
2,10838,Unleaded Gas,2019-01-01,1.739,-18.27,255.60,1.784000,1.3237,1.176109,1.409889,1.534257
3,10838,Midgrade Gas,2019-01-01,2.039,18.81,105.78,2.184000,1.3237,1.176109,1.409889,1.534257
4,10838,Premium Gas,2019-01-01,2.339,25.11,76.57,2.496500,1.3237,1.176109,1.409889,1.534257

In [109]:
print(min(df4['Date']))
print(max(df4['Date']))

2019-01-01
2020-12-31

In [101]:
# save to csv
df4.to_csv('data/df4.csv', index=False)

In [118]:
# read in csv
df4_ADJ = pd.read_csv('data/df4ADJ.csv')
df4_ADJ.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Fuel_Cost,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,10808,Premium Gas,1/1/2019,2.319,7.60,49.30,1.799000,1.534257,1.3237,1.176109,1.409889,1.534257
1,10808,Unleaded Gas,1/1/2019,1.769,9.73,1092.01,1.825667,1.323700,1.3237,1.176109,1.409889,1.534257
2,10838,Midgrade Gas,1/1/2019,2.039,18.81,105.78,2.184000,1.409889,1.3237,1.176109,1.409889,1.534257
3,10838,Premium Gas,1/1/2019,2.339,25.11,76.57,2.496500,1.534257,1.3237,1.176109,1.409889,1.534257
4,10838,Unleaded Gas,1/1/2019,1.739,-18.27,255.60,1.784000,1.323700,1.3237,1.176109,1.409889,1.534257

In [119]:
df4_ADJ.tail()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Fuel_Cost,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
5708,10818,Premium Gas,12/31/2020,2.749,266.51,342.104,2.651000,1.580533,1.4084,1.258232,1.511735,1.580533
5709,10818,Unleaded Gas,12/31/2020,1.999,169.83,1440.250,1.943000,1.408400,1.4084,1.258232,1.511735,1.580533
5710,10838,Midgrade Gas,12/31/2020,2.369,21.22,48.289,2.202333,1.511735,1.4084,1.258232,1.511735,1.580533
5711,10838,Premium Gas,12/31/2020,2.709,105.08,138.086,2.414000,1.580533,1.4084,1.258232,1.511735,1.580533
5712,10838,Unleaded Gas,12/31/2020,1.859,-219.38,1232.152,1.894000,1.408400,1.4084,1.258232,1.511735,1.580533

In [122]:
df4_ADJ = df4_ADJ.drop(columns=['Unleaded Gas Cost', 'Diesel Cost', 'Midgrade Gas Cost', 'Premium Gas Cost'])
df4_ADJ.tail()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Fuel_Cost
5708,10818,Premium Gas,12/31/2020,2.749,266.51,342.104,2.651000,1.580533
5709,10818,Unleaded Gas,12/31/2020,1.999,169.83,1440.250,1.943000,1.408400
5710,10838,Midgrade Gas,12/31/2020,2.369,21.22,48.289,2.202333,1.511735
5711,10838,Premium Gas,12/31/2020,2.709,105.08,138.086,2.414000,1.580533
5712,10838,Unleaded Gas,12/31/2020,1.859,-219.38,1232.152,1.894000,1.408400

In [124]:
site_kpis = df4_ADJ
site_kpis.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Fuel_Cost
0,10808,Premium Gas,1/1/2019,2.319,7.60,49.30,1.799000,1.534257
1,10808,Unleaded Gas,1/1/2019,1.769,9.73,1092.01,1.825667,1.323700
2,10838,Midgrade Gas,1/1/2019,2.039,18.81,105.78,2.184000,1.409889
3,10838,Premium Gas,1/1/2019,2.339,25.11,76.57,2.496500,1.534257
4,10838,Unleaded Gas,1/1/2019,1.739,-18.27,255.60,1.784000,1.323700

In [125]:
site_kpis.tail()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price,Fuel_Cost
5708,10818,Premium Gas,12/31/2020,2.749,266.51,342.104,2.651000,1.580533
5709,10818,Unleaded Gas,12/31/2020,1.999,169.83,1440.250,1.943000,1.408400
5710,10838,Midgrade Gas,12/31/2020,2.369,21.22,48.289,2.202333,1.511735
5711,10838,Premium Gas,12/31/2020,2.709,105.08,138.086,2.414000,1.580533
5712,10838,Unleaded Gas,12/31/2020,1.859,-219.38,1232.152,1.894000,1.408400

In [126]:
site_kpis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5713 entries, 0 to 5712
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5713 non-null   int64
 1   Grade_Description  5713 non-null   object
 2   Date               5713 non-null   object
 3   Price              5713 non-null   float64
 4   Profit             5713 non-null   float64
 5   Volume             5713 non-null   float64
 6   Competitor_Price   5713 non-null   float64
 7   Fuel_Cost          5713 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 357.2+ KB

In [128]:
print(site_kpis.Site_ID.unique())
print(site_kpis.nunique())

[10808 10838 10818]
Site_ID                 3
Grade_Description       3
Date                  731
Price                 179
Profit               4607
Volume               5141
Competitor_Price     1074
Fuel_Cost            1956
dtype: int64

In [129]:
site_kpis.to_csv('data/site_kpis.csv', index=False)