In [1]:
spricesADJ = pd.read2_csv('data/site_prices_ADJ.csv')
spricesADJ.head()

   Site_ID Grade_Description        Date  Price
0    10808      Unleaded Gas  2019-01-01  1.769
1    10808      Unleaded Gas  2019-01-02  1.759
2    10808      Unleaded Gas  2019-01-03  1.749
3    10808      Unleaded Gas  2019-01-04  1.749
4    10808      Unleaded Gas  2019-01-05  1.749

In [15]:
spricesADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   object
 3   Price              6579 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 205.7+ KB

In [2]:
sprofitADJ = pd.read_csv('data/site_profit_ADJ.csv')
sprofitADJ.head()

   Site_ID Grade_Description        Date  Profit
0    10808      Unleaded Gas  2019-01-01    9.73
1    10808      Unleaded Gas  2019-01-02   11.13
2    10808      Unleaded Gas  2019-01-03  -35.83
3    10808      Unleaded Gas  2019-01-04  -65.66
4    10808      Unleaded Gas  2019-01-05  -98.64

In [16]:
sprofitADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5914 entries, 0 to 5913
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5914 non-null   int64
 1   Grade_Description  5914 non-null   object
 2   Date               5914 non-null   object
 3   Profit             5914 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 184.9+ KB

In [3]:
svolADJ = pd.read_csv('data/site_volume_ADJ.csv')
svolADJ.head()

   Site_ID Grade_Description        Date   Volume
0    10808      Unleaded Gas  2019-01-01  1092.01
1    10808      Unleaded Gas  2019-01-02  1955.47
2    10808      Unleaded Gas  2019-01-03  1123.79
3    10808      Unleaded Gas  2019-01-04  1847.51
4    10808      Unleaded Gas  2019-01-05  1442.89

In [22]:
svolADJ.tail()

      Site_ID Grade_Description        Date   Volume
5925    10838       Premium Gas  2020-12-27  170.186
5926    10838       Premium Gas  2020-12-28  125.756
5927    10838       Premium Gas  2020-12-29  156.217
5928    10838       Premium Gas  2020-12-30   79.029
5929    10838       Premium Gas  2020-12-31  138.086

In [18]:
svolADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5930 entries, 0 to 5929
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5930 non-null   int64
 1   Grade_Description  5930 non-null   object
 2   Date               5930 non-null   object
 3   Volume             5930 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 185.4+ KB

In [4]:
sreplaceADJ = pd.read_csv('data/site_replacement_cost_ADJ.csv')
sreplaceADJ.head()

,Date,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,2019-01-01,1.3237,1.176109,1.409889,1.534257
1,2019-01-02,1.3256,1.201517,1.434353,1.535803
2,2019-01-03,1.3495,1.225239,1.454955,1.553484
3,2019-01-04,1.3478,1.170962,1.453069,1.552687
4,2019-01-05,1.3478,1.212443,1.462783,1.551202

In [5]:
cpricesADJ = pd.read_csv('data/competitor_prices_ADJ.csv')
cpricesADJ.head()

   Site_ID  Competitor_ID Grade_Description        Date  Competitor_Price
0    10808         311365            Diesel  2019-08-27             2.429
1    10808         311365            Diesel  2019-08-28             2.429
2    10808         311365            Diesel  2019-08-29             2.429
3    10808         311365            Diesel  2019-08-30             2.429
4    10808         311365            Diesel  2019-08-31             2.429

In [6]:
spricesADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6579 entries, 0 to 6578
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            6579 non-null   int64
 1   Grade_Description  6579 non-null   object
 2   Date               6579 non-null   object
 3   Price              6579 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 205.7+ KB

In [7]:
sprofitADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5914 entries, 0 to 5913
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5914 non-null   int64
 1   Grade_Description  5914 non-null   object
 2   Date               5914 non-null   object
 3   Profit             5914 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 184.9+ KB

In [8]:
svolADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5930 entries, 0 to 5929
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5930 non-null   int64
 1   Grade_Description  5930 non-null   object
 2   Date               5930 non-null   object
 3   Volume             5930 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 185.4+ KB

In [9]:
sreplaceADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               731 non-null    object
 1   Unleaded Gas Cost  731 non-null    float64
 2   Diesel Cost        731 non-null    float64
 3   Midgrade Gas Cost  731 non-null    float64
 4   Premium Gas Cost   731 non-null    float64
dtypes: float64(4), object(1)
memory usage: 28.7+ KB

In [10]:
cpricesADJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29573 entries, 0 to 29572
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            29573 non-null  int64
 1   Competitor_ID      29573 non-null  int64
 2   Grade_Description  29573 non-null  object
 3   Date               29573 non-null  object
 4   Competitor_Price   29573 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ MB

In [14]:
df1 = pd.merge(spricesADJ, sprofitADJ)
df1.head()

   Site_ID Grade_Description        Date  Price  Profit
0    10808      Unleaded Gas  2019-01-01  1.769    9.73
1    10808      Unleaded Gas  2019-01-02  1.759   11.13
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5914 entries, 0 to 5913
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5914 non-null   int64
 1   Grade_Description  5914 non-null   object
 2   Date               5914 non-null   object
 3   Price              5914 non-null   float64
 4   Profit             5914 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 277.2+ KB

In [19]:
df2 = pd.merge(df1, svolADJ)
df2.head()

   Site_ID Grade_Description        Date  Price  Profit   Volume
0    10808      Unleaded Gas  2019-01-01  1.769    9.73  1092.01
1    10808      Unleaded Gas  2019-01-02  1.759   11.13  1955.47
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83  1123.79
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66  1847.51
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64  1442.89

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5841 entries, 0 to 5840
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5841 non-null   int64
 1   Grade_Description  5841 non-null   object
 2   Date               5841 non-null   object
 3   Price              5841 non-null   float64
 4   Profit             5841 non-null   float64
 5   Volume             5841 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 319.4+ KB

In [32]:
df2.tail()

      Site_ID Grade_Description        Date  Price  Profit   Volume
5836    10838       Premium Gas  2020-12-27  2.809  130.43  170.186
5837    10838       Premium Gas  2020-12-28  2.749   95.90  125.756
5838    10838       Premium Gas  2020-12-29  2.709  119.04  156.217
5839    10838       Premium Gas  2020-12-30  2.709   60.59   79.029
5840    10838       Premium Gas  2020-12-31  2.709  105.08  138.086

In [33]:
df3 = pd.merge(df2, cpricesADJ)
df3.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_ID,Competitor_Price
0,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,187358,1.799
1,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,569680,1.779
2,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,604895,1.899
3,10808,Unleaded Gas,2019-01-02,1.759,11.13,1955.47,187358,1.799
4,10808,Unleaded Gas,2019-01-02,1.759,11.13,1955.47,569680,1.759

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20888 entries, 0 to 20887
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            20888 non-null  int64
 1   Grade_Description  20888 non-null  object
 2   Date               20888 non-null  object
 3   Price              20888 non-null  float64
 4   Profit             20888 non-null  float64
 5   Volume             20888 non-null  float64
 6   Competitor_ID      20888 non-null  int64
 7   Competitor_Price   20888 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [35]:
df3.tail()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_ID,Competitor_Price
20883,10838,Premium Gas,2020-12-30,2.709,60.59,79.029,291036,2.659
20884,10838,Premium Gas,2020-12-31,2.709,105.08,138.086,471586,2.349
20885,10838,Premium Gas,2020-12-31,2.709,105.08,138.086,560514,2.449
20886,10838,Premium Gas,2020-12-31,2.709,105.08,138.086,680794,2.199
20887,10838,Premium Gas,2020-12-31,2.709,105.08,138.086,291036,2.659

In [36]:
site_kpis = pd.merge(df3, sreplaceADJ)
site_kpis.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_ID,Competitor_Price,Unleaded Gas Cost,Diesel Cost,Midgrade Gas Cost,Premium Gas Cost
0,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,187358,1.799,1.3237,1.176109,1.409889,1.534257
1,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,569680,1.779,1.3237,1.176109,1.409889,1.534257
2,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,604895,1.899,1.3237,1.176109,1.409889,1.534257
3,10808,Premium Gas,2019-01-01,2.319,7.60,49.30,187358,1.799,1.3237,1.176109,1.409889,1.534257
4,10838,Unleaded Gas,2019-01-01,1.739,-18.27,255.60,471586,1.739,1.3237,1.176109,1.409889,1.534257

In [37]:
site_kpis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20888 entries, 0 to 20887
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            20888 non-null  int64
 1   Grade_Description  20888 non-null  object
 2   Date               20888 non-null  object
 3   Price              20888 non-null  float64
 4   Profit             20888 non-null  float64
 5   Volume             20888 non-null  float64
 6   Competitor_ID      20888 non-null  int64
 7   Competitor_Price   20888 non-null  float64
 8   Unleaded Gas Cost  20888 non-null  float64
 9   Diesel Cost        20888 non-null  float64
 10  Midgrade Gas Cost  20888 non-null  float64
 11  Premium Gas Cost   20888 non-null  float64
dtypes: float64(8), int64(2), object(2)
memory usage: 2.1+ MB

In [38]:
site_kpis.to_csv('data/site_kpis.csv')