In [13]:
import pandas as pd
import numpy as np

### Joining data together into site_kpis file.

In [80]:
# Read in site prices
spricesADJ = pd.read_csv('data/adjusted/site_prices_ADJ.csv')
spricesADJ.head()

   Site_ID Grade_Description        Date  Price
0    10808      Unleaded Gas  2019-01-01  1.769
1    10808      Unleaded Gas  2019-01-02  1.759
2    10808      Unleaded Gas  2019-01-03  1.749
3    10808      Unleaded Gas  2019-01-04  1.749
4    10808      Unleaded Gas  2019-01-05  1.749

In [48]:
# sreplaceADJ = pd.read_csv('data/site_replacement_cost_ADJ.csv')
# sreplaceADJ.head()

In [49]:
# df1 = pd.merge(spricesADJ, sreplaceADJ)
# df1.head()

In [50]:
# df1.to_csv('data/mergeGas.csv', index=False)

In [51]:
# df2 = pd.read_csv('data/mergeGasFNL.csv')
# df2.head()

In [52]:
# df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%Y-%m-%d')
# df2.head()

In [81]:
# Read in site profit
sprofitADJ = pd.read_csv('data/adjusted/site_profit_ADJ.csv')
sprofitADJ.head()

   Site_ID Grade_Description        Date  Profit
0    10808      Unleaded Gas  2019-01-01    9.73
1    10808      Unleaded Gas  2019-01-02   11.13
2    10808      Unleaded Gas  2019-01-03  -35.83
3    10808      Unleaded Gas  2019-01-04  -65.66
4    10808      Unleaded Gas  2019-01-05  -98.64

In [82]:
# Merge prices and profit
df1 = pd.merge(spricesADJ, sprofitADJ)
df1.head()

   Site_ID Grade_Description        Date  Price  Profit
0    10808      Unleaded Gas  2019-01-01  1.769    9.73
1    10808      Unleaded Gas  2019-01-02  1.759   11.13
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64

In [83]:
# read in site volume
svolADJ = pd.read_csv('data/adjusted/site_volume_ADJ.csv')
svolADJ.head()

   Site_ID Grade_Description        Date   Volume
0    10808      Unleaded Gas  2019-01-01  1092.01
1    10808      Unleaded Gas  2019-01-02  1955.47
2    10808      Unleaded Gas  2019-01-03  1123.79
3    10808      Unleaded Gas  2019-01-04  1847.51
4    10808      Unleaded Gas  2019-01-05  1442.89

In [84]:
# merge in volume
df2 = pd.merge(df1, svolADJ)
df2.head()

   Site_ID Grade_Description        Date  Price  Profit   Volume
0    10808      Unleaded Gas  2019-01-01  1.769    9.73  1092.01
1    10808      Unleaded Gas  2019-01-02  1.759   11.13  1955.47
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83  1123.79
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66  1847.51
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64  1442.89

In [68]:
# print(df2.Site_ID.unique())
# print(df2.Grade_Description.unique())

In [85]:
# # Create new column and insert replacement costs
# df2['Replacement_cost'] = np.select([df2.Grade_Description=='Unleaded Gas', df2.Grade_Description=='Midgrade Gas'],
#                                   ['2.0223', '2.140848'], default='2.249888')

In [88]:
#read in competitor prices
cpricesADJ = pd.read_csv('data/adjusted/competitor_prices_ADJ.csv')
cpricesADJ.head()

         Date  Site_ID Grade_Description  Competitor_Price
0  2019-01-01    10808            Diesel          2.674000
1  2019-01-01    10808       Premium Gas          1.799000
2  2019-01-01    10808      Unleaded Gas          1.825667
3  2019-01-01    10818            Diesel          2.752333
4  2019-01-01    10818      Midgrade Gas          2.449000

In [90]:
# merge in competitor prices
df3 = pd.merge(df2, cpricesADJ)
df3.head()

,Site_ID,Grade_Description,Date,Price,Profit,Volume,Competitor_Price
0,10808,Unleaded Gas,2019-01-01,1.769,9.73,1092.01,1.825667
1,10808,Unleaded Gas,2019-01-02,1.759,11.13,1955.47,1.819000
2,10808,Unleaded Gas,2019-01-03,1.749,-35.83,1123.79,1.819000
3,10808,Unleaded Gas,2019-01-04,1.749,-65.66,1847.51,1.819000
4,10808,Unleaded Gas,2019-01-05,1.749,-98.64,1442.89,1.819000

In [58]:
# site_kpis = pd.merge(df4, cpricesADJ)
# site_kpis.head()

In [59]:
# site_kpis.to_csv('data/site_kpis.csv', index=False)

In [60]:
# site_kpis.head()

In [61]:
# site_kpis.info()