In [13]:
import pandas as pd

### Joining data together into site_kpis file.

In [47]:
spricesADJ = pd.read_csv('data/site_prices_ADJ.csv')
spricesADJ.head()

   Site_ID Grade_Description        Date  Price
0    10808      Unleaded Gas  2019-01-01  1.769
1    10808      Unleaded Gas  2019-01-02  1.759
2    10808      Unleaded Gas  2019-01-03  1.749
3    10808      Unleaded Gas  2019-01-04  1.749
4    10808      Unleaded Gas  2019-01-05  1.749

In [48]:
# sreplaceADJ = pd.read_csv('data/site_replacement_cost_ADJ.csv')
# sreplaceADJ.head()

In [49]:
# df1 = pd.merge(spricesADJ, sreplaceADJ)
# df1.head()

In [50]:
# df1.to_csv('data/mergeGas.csv', index=False)

In [51]:
# df2 = pd.read_csv('data/mergeGasFNL.csv')
# df2.head()

In [52]:
# df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%Y-%m-%d')
# df2.head()

In [53]:
sprofitADJ = pd.read_csv('data/site_profit_ADJ.csv')
sprofitADJ.head()

   Site_ID Grade_Description        Date  Profit
0    10808      Unleaded Gas  2019-01-01    9.73
1    10808      Unleaded Gas  2019-01-02   11.13
2    10808      Unleaded Gas  2019-01-03  -35.83
3    10808      Unleaded Gas  2019-01-04  -65.66
4    10808      Unleaded Gas  2019-01-05  -98.64

In [54]:
df1 = pd.merge(spricesADJ, sprofitADJ)
df1.head()

   Site_ID Grade_Description        Date  Price  Profit
0    10808      Unleaded Gas  2019-01-01  1.769    9.73
1    10808      Unleaded Gas  2019-01-02  1.759   11.13
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64

In [55]:
svolADJ = pd.read_csv('data/site_volume_ADJ.csv')
svolADJ.head()

   Site_ID Grade_Description        Date   Volume
0    10808      Unleaded Gas  2019-01-01  1092.01
1    10808      Unleaded Gas  2019-01-02  1955.47
2    10808      Unleaded Gas  2019-01-03  1123.79
3    10808      Unleaded Gas  2019-01-04  1847.51
4    10808      Unleaded Gas  2019-01-05  1442.89

In [56]:
df2 = pd.merge(df1, svolADJ)
df2.head()

   Site_ID Grade_Description        Date  Price  Profit   Volume
0    10808      Unleaded Gas  2019-01-01  1.769    9.73  1092.01
1    10808      Unleaded Gas  2019-01-02  1.759   11.13  1955.47
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83  1123.79
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66  1847.51
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64  1442.89

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5841 entries, 0 to 5840
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site_ID            5841 non-null   int64
 1   Grade_Description  5841 non-null   object
 2   Date               5841 non-null   object
 3   Price              5841 non-null   float64
 4   Profit             5841 non-null   float64
 5   Volume             5841 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 319.4+ KB

In [64]:
print(df2.head())
print(df2.tail())

   Site_ID Grade_Description        Date  Price  Profit   Volume
0    10808      Unleaded Gas  2019-01-01  1.769    9.73  1092.01
1    10808      Unleaded Gas  2019-01-02  1.759   11.13  1955.47
2    10808      Unleaded Gas  2019-01-03  1.749  -35.83  1123.79
3    10808      Unleaded Gas  2019-01-04  1.749  -65.66  1847.51
4    10808      Unleaded Gas  2019-01-05  1.749  -98.64  1442.89
      Site_ID Grade_Description        Date  Price  Profit   Volume
5836    10838       Premium Gas  2020-12-27  2.809  130.43  170.186
5837    10838       Premium Gas  2020-12-28  2.749   95.90  125.756
5838    10838       Premium Gas  2020-12-29  2.709  119.04  156.217
5839    10838       Premium Gas  2020-12-30  2.709   60.59   79.029
5840    10838       Premium Gas  2020-12-31  2.709  105.08  138.086

In [66]:
print(df2.Site_ID.unique())
print(df2.Grade_Description.unique())

[10808 10818 10838]
['Unleaded Gas' 'Midgrade Gas' 'Premium Gas']

In [57]:
# cpricesADJ = pd.read_csv('data/competitor_prices_ADJ.csv')
# cpricesADJ.head()

In [58]:
# site_kpis = pd.merge(df4, cpricesADJ)
# site_kpis.head()

In [59]:
# site_kpis.to_csv('data/site_kpis.csv', index=False)

In [60]:
# site_kpis.head()

In [61]:
# site_kpis.info()